<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenweijiang.wcg_mall.mapper.CategoryMapper">
    <update id="update">
        update product_category
        set name=#{name},update_time=#{updateTime},update_user=#{updateUser}
        where id=#{id}
    </update>

    <select id="list" resultType="com.chenweijiang.wcg_mall.pojo.ProductCategory">
        select * from product_category order by id
    </select>


</mapper>
