<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenweijiang.wcg_mall.mapper.OrderMapper">


    <insert id="save">
        insert into `order` ( order_number,status,user_id, consignee, consignee_address,consignee_phone, email , pay_method, pay_status, amount, order_time)
            values (#{orderNumber},#{status},#{userId},#{consignee},#{consigneeAddress},#{consigneePhone},#{email},#{payMethod},#{payStatus},#{amount},#{orderTime})
    </insert>
    <update id="update">
        update `order`
        <set>
         <if test="status != null">
            status = #{status},
        </if>
            <if test="consignee != null">
            consignee = #{consignee},
        </if>
            <if test="consigneeAddress != null">
            consignee_address = #{consigneeAddress},
        </if>
            <if test="consigneePhone != null">
            consignee_phone = #{consigneePhone},
        </if>
            <if test="email != null">
            email = #{email},
        </if>

            <if test="amount != null">
            amount = #{amount},
        </if>

        </set>
            where order_number = #{orderNumber} and id = #{id}

    </update>
</mapper>
